<form action = "/movies" method = "GET" class="form-inline">
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control" placeholder="Search Movie..." name="search" value = "{{search}}">
  </div>
  <button type="submit" class="btn btn-primary mb-2">SEARCH</button>
</form>

<div class="d-flex flex-wrap justify-content-between pl-5 pr-5">
  {{#each movies as |movie|}}
  <div class="card ml-2 mr-2 mt-2 mb-2" style="width: 18rem;">
    <img src={{movie.image}} class="card-img-top" alt={{movie.title}}>
    <div class="card-body text-center">
      <h5 class="card-title">{{movie.title}}</h5>
      <a href="/movies/{{movie.id}}" >See more</a>
    </div>
  </div>
  {{/each}}
</div>